@keyframes top-to-down{
    0%{
        margin-top: -60vh;
    }
    80%{
        margin-top: -20vh;
    }
    90%{
        margin-top: -24vh;
    }
    100%{
        margin-top: -20vh;
    }
}

.home-panel{
    background-image: url("/assets/menu_panel.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90vh;
    margin-top: -20vh;

    padding: 6vh 6vw;
    animation: top-to-down 0.8s ease-out forwards;
}

.not-found-panel{
    padding-bottom: 8vh;
}


.start-btn{
    color: white;
    background-color: #007C75;
    /* animation: fade-in 2s ease-in forwards; */
    /* animation-delay: 1.2s; */
    /* opacity: 0%; */
}

@media only screen and (max-width: 500px){
    @keyframes top-to-down{
        0%{
            margin-top: -60vh;
        }
        80%{
            margin-top: -20vh;
        }
        90%{
            margin-top: -24vh;
        }
        100%{
            margin-top: -20vh;
        }
    }
    .home-panel{
        background-image: url("/assets/menu_panel_tablet.png");
        margin-top: -15vh;
        padding: 8vh 18vw;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px){
    @keyframes top-to-down{
        0%{
            margin-top: -60vh;
        }
        80%{
            margin-top: -15vh;
        }
        90%{
            margin-top: -20vh;
        }
        100%{
            margin-top: -15vh;
        }
    }
    .home-panel{
        padding: 12vh 10vw;
        margin-top: -15vh;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 2100px){
    .home-panel{
        padding: 8vh 6vw;
    }
}
@media only screen and (min-width: 2100px) and (max-width:3100px){
    .home-panel{
        padding: 10vh 6vw;
    }
}
@media only screen and (min-width: 3100px){
    .home-panel{
        padding: 8vh 6vw;
    }
    .home-panel .size-30{
        margin-bottom: 3vh !important;
        margin-top: 5vh !important;
    }
    .home-panel .size-40{
        margin-top: 3vh !important;
    }
}