.small-screens{
    display: none;
}

.circle-point{
    height: 4vw;
    width: 4vw;
    background-color: #E0E0E0;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.circle-point-inside{
    height: 2.4vw;
    width: 2.4vw;
    background-color: #004E96;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.2vw 0 0 -1.2vw;
}
.circle-point p{
    position: absolute;
    white-space: nowrap;
}

.circle-point:active .circle-point-inside{
    background-color: #ED2114;
}

/* circle styles */
.education-circle{
    right: 25%;
}
.experience-circle{
    top: 20%;
    right: 30%;
}
.about-circle{
    left: 20%;
    top: 5%;
}
.achievements-circle{
    right: 15%;
    bottom: 45%;
}
.projects-circle{
    left: 12%;
    bottom: 40%;
}
.about-site-circle{
    left: 30%;
    bottom: 15%;
}
.find-circle{
    right: 35%;
    bottom: 25%;
}

/* text styles */
.education-circle p{
    left: 5vw;
    top: 1vw;
}
.experience-circle p{
    left: 5vw;
    top: 1vw;
}
.about-circle p{
    left: 5vw;
    top: 1vw;
}
.achievements-circle p{
    top: -3vw;
    left: -6vw;
}
.projects-circle p{
    top: -3vw;
    left: -4vw;
}
.about-site-circle p{
    top: -3vw;
    left: -14vw;
}
.find-circle p{
    left: 5vw;
    top: 1vw;
}

/* line styles */
.horizontal-line{
    background-color: #E0E0E0;
    height: 1vw;
    /* width: 30px; */
    position: absolute;
}
.horizontal-line-1{
    width: 10vw;
    right: calc(25% + 2.4vw + 1.2vw);
    top: 1.5vw;
}
.horizontal-line-2{
    width: 7vw;
    top: calc(20% + 1.6vw);
    right: calc(30% + 3.6vw);
}
.horizontal-line-3{
    width: 19vw;
    top: 32%;
    right: calc(30% + 3.6vw + 7vw);
}
.horizontal-line-4{
    width: 15vw;
    top: 40%;
    right: calc(30% + 3.6vw + 7vw + 4vw);
}
.horizontal-line-5{
    width: 20vw;
    bottom: calc(45% + 1.6vw);
    right: calc(15% + 3.6vw);
}
.horizontal-line-6{
    width: 18vw;
    bottom: calc(40% + 1.6vw);
    left: calc(12% + 3.8vw);
}
.horizontal-line-7{
    width: 10vw;
    bottom: calc(25% + 1.6vw);
    right: calc(35% + 3.8vw);
}
.horizontal-line-8{
    width: 4vw;
    bottom: calc(15% + 1.6vw);
    left: calc(30% + 3.8vw);
}

.vertical-line{
    width: 1vw;
    background-color: #E0E0E0;
    position: absolute;
}
.vertical-line-1{
    height: 13.8vw;
    top: 1.5vw;
    right: calc(25% + 10vw + 3.5vw);
}
.vertical-line-2{
    height: 13.1vw;
    top: calc(5% + 3.6vw);
    left: calc(20% + 1.4vw);
}
.vertical-line-3{
    height: 14vw;
    top: calc(40%);
    left: calc(46%);
}
.vertical-line-4{
    height: 5.48vw;
    bottom: calc(18.6%);
    left: calc(42%);
}



@media only screen and (max-width: 500px){
    .big-screens{
        display: none;
    }
    .small-screens{
        display: block;
    }
    .title{
        margin-top: 5vh;
    }
    .circle-point{
        position: relative;
        height: 10vw;
        width: 10vw;
    }
    .circle-point-inside{
        height: 5vw;
        width: 5vw;
        margin: -2.5vw 0 0 -2.5vw;
    }
    .map-link p{
        position: static;
        align-self: center;
    }
    .map-link:active .circle-point-inside{
        background-color: #ED2114;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px){
    .big-screens{
        display: none;
    }
    .small-screens{
        display: block;
    }
    .title{
        margin-top: 5vh;
    }
    .circle-point{
        position: relative;
        height: 7vw;
        width: 7vw;
        /* margin-top: 1vh; */
    }
    .circle-point-inside{
        height: 3.5vw;
        width: 3.5vw;
        margin: -1.75vw 0 0 -1.75vw;
    }
    .map-link{
        margin-top: 3vh;
    }
    .map-link p{
        position: static;
        align-self: center;
    }
    .map-link:active .circle-point-inside{
        background-color: #ED2114;
    }
}